@model ProjetoMVC3.Models.Projeto

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTermino)
        </dd>
    </dl>
</div>
<div>
    <h4>Tarefas Associadas</h4>

    @if (Model.Tarefas != null && Model.Tarefas.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tarefa in Model.Tarefas)
                {
                    <tr>
                        <td>@tarefa.Titulo</td>
                        <td>@tarefa.Descricao</td>
                        <td>@(tarefa.Status ? "Fechado" : "Aberto")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nenhuma tarefa associada.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
